:root {
	--body-background-color: #030303;
	--body-font-color: #dddbd7;
	--table-font-color: #dddbd7;
	--table-head-background-color: #18191d;
	--table-body-background-color: #22262e;
	--paused-color: #BB6464;
}
