:root {
	--body-background-color: #2f3136;
	--body-font-color: #E3E3E3;
	--table-font-color: #E3E3E3;
	--table-head-background-color: #3F4144;
	--table-body-background-color: #484b52;
	--paused-color: #BB6464;
}
