body {
	background: #2f3136;
	color: #E3E3E3;
}

.controlButtons {
	background-color: #484b52;
	color: #E3E3E3;
}

.controlButtons-paused {
	background-color: #A10000;
	color: #E3E3E3;
}

.table {
	color: #E3E3E3;
}

.table thead {
	background: #3F4144;
	color: white;
}

.table tbody {
	background: #484b52;
}

.timer-paused {
	color: #BB6464;
}