:root {
	--body-background-color: #ffffff;
	--body-font-color: #3F4144;
	--table-font-color: #3F4144;
	--table-head-background-color: #B1B1B1;
	--table-body-background-color: #CACACA;
	--paused-color: #D47171;
}

body {
	background: #ffffff;
	color: var(--body-font-color);
}

.controlButtons {
	background-color: var(--table-body-background-color);
	color: var(--table-font-color);
}

.controlButtons-paused {
	background-color: #D47171;
	color: white;
}

.itemStat {
	color: var(--table-font-color);
}

.table {
	color: var(--table-font-color);
}

.table thead {
	background: var(--table-head-background-color);
	color: var(--body-font-color);
}

.table tbody {
	background: var(--table-body-background-color);
}

.timer-paused {
	color: #D47171;
}

.statsContainerItem {
	background-color: var(--table-body-background-color);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--table-head-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--table-body-background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--table-body-background-color);
}
