body {
	background: #ffffff;
	color: #3F4144;
}

.controlButtons {
	background-color: #CACACA;
	color: #3F4144;
}

.controlButtons-paused {
	background-color: #D47171;
	color: white;
}

.table {
	color: #3F4144;
}

.table thead {
	background: #B1B1B1;
	color: #3F4144;
}

.table tbody {
	background: #CACACA;
}

.timer-paused {
	color: #D47171;
}

/* Track */
::-webkit-scrollbar-track {
  background: #CACACA; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B1B1B1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B1B1B1; 
}