body {
	padding-left: 15px;
	padding-right: 15px;
}

.chartHeading {
	text-align: center;
}

.heading {
	padding: 10px;
	text-align: center;
}

.refreshButton {
	width: 100%;
}

.refreshButtonContainer {
	padding-bottom: 15px;
}