body {
	padding-left: 15px;
	padding-right: 15px;
}

.chartHeading {
	text-align: center;
}

.entries {
	overflow-y: scroll;
	height: 85vh;
	padding-right: 10px;
}

.heading {
	padding: 10px;
	text-align: center;
}

.refreshButton {
	width: 100%;
}

.refreshButtonContainer {
	padding-bottom: 15px;
}