body {
	padding-left: 15px;
	padding-right: 15px;
}

.chartHeading {
	text-align: center;
}

.charts {
	padding-top: 10px;
	padding-bottom: 20px;
}

.entries {
	overflow-y: scroll;
	height: 85vh;
	padding-right: 10px;
}

.heading {
	padding: 10px;
	text-align: center;
}

.controlButtons {
	width: 100%;
}

.refreshButtonContainer {
	padding-bottom: 15px;
}

.timer {
	font-family: sans-serif;
	font-size: 48px;
	padding: 5px;
	text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 50px; 
}



/*Default Colors*/
body {
	background: #2f3136;
	color: #E3E3E3;
}

.controlButtons {
	background-color: #484b52;
	color: #E3E3E3;
}

.controlButtons-paused {
	background-color: #A10000;
	color: #E3E3E3;
}

.table {
	color: #E3E3E3;
}

.table thead {
	background: #3F4144;
	color: white;
}

.table tbody {
	background: #484b52;
}

.timer-paused {
	color: #BB6464;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3F4144; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #484b52; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484b52; 
}