:root {
	--body-background-color: #12E772;
	--body-font-color: #266EF6;
	--table-font-color: #FF8B00;
	--table-head-background-color: #FF8B00;
	--table-body-background-color: #FFD300;
	--paused-color: #FF0130;
}
