# Electron
node_modules
release-builds
dist
build
libs

# Editor Directories
.vscode
*.code-workspace

# Editor Files
*.sublime-project
*.sublime-workspace
process-palette.json

# Specific Project Files
preferences.json
firebaseconfig.js

#Misc
*.bat