# Electron
node_modules
release-builds
dist
build
libs

# Editor Directories
.vscode

# Editor Files
*.sublime-project
*.sublime-workspace
process-palette.json

# Specific Files
preferences.json
firebaseconfig.js
