:root {
	--body-background-color: #1e1e1e;
	--body-font-color: #bbbbbb;
	--table-font-color: #bbbbbb;
	--table-head-background-color: #252526;
	--table-body-background-color: #333333;
	--paused-color: #BB6464;
}
