:root {
	--body-background-color: #282a38;
	--body-font-color: #73e292;
	--table-font-color: #d3d3d2;
	--table-head-background-color: #454861;
	--table-body-background-color: #686D92;
	--paused-color: #bb6464;
}
