body {
	padding-left: 15px;
	padding-right: 15px;
	background: var(--body-background-color);
	color: var(--body-font-color);
}

.chartHeading {
	text-align: center;
	padding-top: 15px;
}

.charts {
	padding-top: 10px;
	padding-bottom: 20px;
}

.controlButtons {
	width: 100%;
	background-color: var(--table-body-background-color);
	color: var(--table-font-color);
}

.controlButtons-paused {
	background-color: var(--paused-color);
	color: var(--item-stat-font-color);
}

.entries {
	overflow-y: scroll;
	height: 85vh;
	padding-right: 10px;
}

.heading {
	padding: 10px;
	text-align: center;
}

.itemStat {
	color: var(--table-font-color);
}

.refreshButtonContainer {
	padding-bottom: 15px;
}

.statsContainer {
	padding-top: 10px;
	text-align: center;
}

.statsContainer h4 {
	padding-top: 20px;
	font-size: 26px;
}

.statsContainer p {
	font-size: 18px;
}

.statsContainer .row {
	padding-top: 25px;
}

.statsContainerItem {
	background-color: var(--table-body-background-color);
}

.table {
	color: var(--table-font-color);
}

.table thead {
	background: var(--table-head-background-color);
	color: var(--body-font-color);
}

.table tbody {
	background: var(--table-body-background-color);
}

.timer {
	font-family: sans-serif;
	font-size: 48px;
	padding: 5px;
	text-align: center;
}

.timer-paused {
	color: var(--paused-color);
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--table-head-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
	  background: var(--table-body-background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 50px;
	  background: var(--table-body-background-color);
}

/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
	background-color: var(--table-head-background-color);
  color: var(--body-font-color);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Signin Menu */
.signin-container {
	margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.signin-form {
	margin-bottom: 10px;
}

.signin-form-showpw {
	margin-left: 10px;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
