body {
	padding-left: 15px;
	padding-right: 15px;
	background: var(--body-background-color);
	color: var(--body-font-color);
}

.chartHeading {
	text-align: center;
	padding-top: 15px;
}

.charts {
	padding-top: 10px;
	padding-bottom: 20px;
}

.controlButtons {
	width: 100%;
	font-size: 28px;
	padding: 0;
	border: 0;
	background-color: transparent;
	border-color: transparent;
	color: var(--table-font-color);
	text-align: center;
}

.controlButtons:hover {
	filter: brightness(75%);
}

.controlButtons:active {
	transform: translateY(4px);
}

.controlButtons:focus {
	outline: none;
}

.controlButtons-paused {
	/* background-color: var(--paused-color); */
	color: var(--paused-color);
}

.entries {
	overflow-y: scroll;
	height: 85vh;
	padding-right: 10px;
}

.entriesCont {
	padding: 10px;
}

.table-paused {
  background: linear-gradient(90deg, var(--paused-color) 50%, transparent 50%), linear-gradient(90deg, var(--paused-color) 50%, transparent 50%), linear-gradient(0deg, var(--paused-color) 50%, transparent 50%), linear-gradient(0deg, var(--paused-color) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
  padding: 10px;
  animation: border-dance 10s infinite linear;
}

.heading {
	padding: 10px;
	text-align: center;
}

.refreshButtonContainer {
	padding-bottom: 15px;
}

.table {
	color: var(--table-font-color);
}

.table thead {
	background: var(--table-head-background-color);
	color: var(--body-font-color);
}

.table tbody {
	background: var(--table-body-background-color);
}

.timer {
	font-family: sans-serif;
	font-size: 48px;
	padding: 5px;
	text-align: center;
}

.timer-paused {
	color: var(--paused-color);
}

/* Stats */
.backButton {
	width: 28px;
	font-size: 28px;
	position: absolute;
	top: 10px;
	left: 15px;
	text-align: center;
	vertical-align: middle;
}

.backButton:focus {
	outline: none;
}

.itemStat {
	color: var(--table-font-color);
}

.statsButtons {
	width: 100%;
	background-color: var(--table-body-background-color);
	color: var(--table-font-color);
}

.statsButtonContainer {
	margin-bottom: 10px;
}

.statsContainer {
	padding-top: 5px;
	text-align: center;
}

.statsContainer h4 {
	padding-top: 20px;
	font-size: 24px;
}

.statsContainer p {
	font-size: 16px;
}

.statsContainer .row {
	padding-top: 15px;
}

.statsContainerItem {
	height: 15vh;
	border: 1px solid;
	background-color: var(--table-body-background-color);
}

.statsEntries {
	overflow-y: scroll;
	height: 70vh;
	padding-right: 10px;
	padding-left: 10px;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--table-head-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
	  background: var(--table-body-background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 50px;
	  background: var(--table-body-background-color);
}

/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
	background-color: var(--table-head-background-color);
	color: var(--body-font-color);
	border: 0.5px solid var(--body-font-color);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
	font-size: 17px;
	box-shadow: 0 0 10px black;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Signin Menu */
.signin-container {
	margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.signin-form {
	margin-bottom: 10px;
}

.signin-form-showpw {
	margin-left: 10px;
}

input[type=text].signin-form, input[type=password].signin-form, input[type=text].signin-form::placeholder, input[type=password].signin-form::placeholder {
  background-color: var(--table-body-background-color);;
  color: var(--table-font-color);
}

input[type=text].signin-form:focus, input[type=password].signin-form:focus {
	border: 2px solid var(--table-font-color);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--table-font-color);
  outline: 0 none;
	background-color: var(--table-body-background-color);
  /* color: var(--table-font-color); */
}

input[type=text].password-textShow {
	font-style: italic;
}

input[type=password].password-capsLockWarning, input[type=text].password-capsLockWarning {
	content: "!";
	color: var(--paused-color);
	font-style: bold;
}

input[type=checkbox].signin-form {
	user-select: none;
}

.signin-buttons-cont {
	display: flex;
	justify-content: center;
}

.signin-buttons {
	margin: 10px;
}

/* Animation Keyframes */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes border-dance {
  0% {
    background-position: 0% 0%, 33% 100%, 0% 33%, 100% 0%;
  }
  100% {
    background-position: 33% 0%, 0% 100%, 0% 0px, 100% 33%;
	}	
}

/* From Libraries */
	/* Tippy Tooltips */
	.tippy-tooltip {
		background-color: var(--table-body-background-color);
		color: var(--table-font-color);
	}
	
	.tippy-tooltip[x-placement^='top'] .tippy-arrow {
		border-top-color: var(--table-body-background-color);;
	}
	
	.tippy-tooltip[x-placement^='bottom'] .tippy-arrow {
		border-bottom-color: var(--table-body-background-color);;
	}
	
	.tippy-tooltip[x-placement^='left'] .tippy-arrow {
		border-left-color: var(--table-body-background-color);;
	}
	
	.tippy-tooltip[x-placement^='right'] .tippy-arrow {
		border-right-color: var(--table-body-background-color);;
	}
