:root {
	--body-background-color: #10171e;
	--body-font-color: #ffffff;
	--table-font-color: #E3E3E3;
	--table-head-background-color: #1c2938;
	--table-body-background-color: #15202b;
	--paused-color: #BB6464;
}
