:root {
	--body-background-color: #282923;
	--body-font-color: #e7b248;
	--table-font-color: #c9f8c4;
	--table-head-background-color: #484A3F;
	--table-body-background-color: #6E7160;
	--paused-color: #ae2824;
}
