:root {
	--body-background-color: #002868;
	--body-font-color: #FFFFFF;
	--table-font-color: #BF0A30;
	--table-head-background-color: #BF0A30;
	--table-body-background-color: #FFFFFF;
	--paused-color: #BF0A30;
}
